.article__link-wrapper {
  display: block;
  font-family: $heading-font;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
}

.article__description-definition {
  margin: 0;
}

.article__desciption-wrapper {
  display: flex;
  flex-wrap: wrap;
}
