.button-toggle {
  padding: 0;
  border: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.button-toggle--closed {
  width: 24px;
  height: 2px;
  background-color: #000000;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000000;
    transform: translateY(8px);
  }

  &::after {
    transform: translateY(-10px);
  }
}

.button-toggle--opened {
  &::before,
  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000000;
    transform: rotate(45deg);
  }

  &::after {
    transform: translateY(-2px) rotate(-45deg);
  }
}
