.case {
  background-color: #eaeaea;
  padding: 25px 20px 40px 20px;
}

.case__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 36px;
  line-height: 40px;
}

.case__description {
  margin: 0;
  margin-bottom: 20px;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}

.case__list {
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}

.case__list-wrapper {
  display: flex;
  flex-direction: column;
}

.case__term {
  width: 124px;
  padding: 14px 5px;
  text-align: center;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.case__definition {
  margin: 0;
  padding: 0 15px;
  align-self: center;
  transform: translateY(-10px);
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  background-color: #eaeaea;
}

.case__price {
  margin: 0;
  margin-bottom: 20px;
  font-family: $heading-font;
  color: $heading-color;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}
