
.explanation__title {
  margin: 0;
  margin-bottom: 40px;
  color: $secondary-color;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.explanation__list {
  display: grid;
  grid-gap: 22px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: $main-color;
  counter-reset: item;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 107px 153px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px 94px;
  }
}

.explanation__item {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.explanation__item::before {
  @media (min-width: $tablet-width) {
    counter-increment: item;
    content: counter(item);
    display: inline-block;
    position: absolute;
    right: 0;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
  }
}

.explanation__icon {
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.explanation__icon::before {
  content: "";
  display: block;
  min-width: 60px;
  min-height: 60px;
  margin-right: 20px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    display: block;
    margin-bottom: 31px;
  }
}

.explanation__icon::after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 25px;
    left: 25px;
  }
}

.explanation__icon--leaf::after {
  width: 30px;
  height: 32px;
  background-image: url("../img/explanataion-leaf.svg");
}

.explanation__icon--powder::after {
  width: 27px;
  height: 29px;
  background-image: url("../img/explanataion-powder.svg");
}

.explanation__icon--cutlery::after {
  width: 25px;
  height: 30px;
  background-image: url("../img/explanataion-cutlery.svg");
}

.explanation__icon--clock::after {
  width: 27px;
  height: 31px;
  background-image: url("../img/explanataion-clock.svg");
}
