.explanation__title {
  margin: 0;
  margin-bottom: 40px;
  color: $secondary-color;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }
}

.explanation__list {
  display: grid;
  grid-gap: 20px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: $main-color;
  counter-reset: item;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 37px 60px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px 80px;
  }
}

.explanation__item {
  list-style-type: none;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 280px;
  }
}

.explanation__item::before {
  @media (min-width: $tablet-width) {
    counter-increment: item;
    content: counter(item);
    display: inline-block;
    position: absolute;
    right: 80px;
    top: -40px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    right: 0;
  }
}

.explanation__item:first-child::before {
  @media (min-width: $tablet-width) {
    right: 100px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.explanation__description {
  position: relative;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: block;
    max-width: 250px;
  }
}

.explanation__description::before {
  content: "";
  display: block;
  min-width: 60px;
  min-height: 60px;
  margin-right: 20px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.explanation__description::after {
  content: "";
  display: block;
  position: absolute;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 25px;
    left: 25px;
  }
}

.explanation__description--leaf::after {
  width: 30px;
  height: 32px;
  background-image: url("../img/sprite.svg#explanation-leaf");
}

.explanation__description--powder::after {
  width: 27px;
  height: 29px;
  background-image: url("../img/sprite.svg#explanataion-powder");
}

.explanation__description--cutlery::after {
  width: 25px;
  height: 30px;
  background-image: url("../img/sprite.svg#explanataion-cutlery");
}

.explanation__description--clock::after {
  width: 27px;
  height: 31px;
  background-image: url("../img/sprite.svg#explanataion-clock");
}
