.footer {
  background-color: #f2f2f2;
  padding: 36px 0;

  @media (min-width: $tablet-width) {
    padding: 59px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.footer__wrapper {
  display: grid;
  gap: 18px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.footer__logo {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 128px;
    margin: unset;
  }
}

.footer__logo-text {
  width: 128px;
  height: 24px;
  color: #111111;
}

.footer__logo:hover[href] .footer__logo-text,
.footer__logo:focus[href],
.footer__logo:focus[href] .footer__logo-text {
  outline: none;
  color: #3e3e3e;
}

.footer__logo:active[href] .footer__logo-text {
  outline: none;
  color: #6b6b6b;
}

.footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 0;
  }
}

.footer__socials-link::after {
  content: "";
  display: block;
  width: 28px;
  height: 22px;
  background-color: #666666;
}

.footer__socials-link:hover::after,
.footer__socials-link:focus::after,
.footer__socials-link:focus {
  outline: none;
  background-color: $bg-color;
}

.footer__socials-link:active::after {
  background-color: $bg-color;
  opacity: 0.3;
}

.footer__socials-link--vkontakte::after {
  mask: url("../img/sprite.svg#vkontakte-icon") no-repeat center;
}

.footer__socials-link--youtube::after {
  mask: url("../img/sprite.svg#youtube-icon") no-repeat center;
}

.footer__socials-link--telegram::after {
  mask: url("../img/sprite.svg#telegram-icon") no-repeat center;
}

.footer__develop-logo {
  display: grid;
  grid-template-columns: 1fr 27px;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: $main-color;

  @media (min-width: $tablet-width) {
    width: 224px;
    gap: 23px;
    justify-self: flex-end;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
  }
}

.footer__develop-logo::after {
  content: "";
  display: block;
  width: 27px;
  height: 34px;
  background-color: #666666;
  mask: url("../img/sprite.svg#html-academy-logo") no-repeat center;
}

.footer__develop-logo:hover::after,
.footer__develop-logo:focus::after {
  outline: none;
  background-color: $bg-color;
}

.footer__develop-logo:focus {
  outline: 0;
}

.footer__develop-logo:active {
  outline: none;
  opacity: 0.3;
}

.footer__develop-name {
  margin: 0;
}
