.header {
  position: relative;
  margin-bottom: 27px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.header--index {
  border: 0;
  margin-bottom: 0;
}

.header--index a {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.header--index .nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 8px;
  border: 2px solid #ffffff;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
  }
}
