.invite--dark-bg {
  background-color: #f2f2f2;
}

.invite__header-wrapper {
  position: relative;
}

.invite__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 27px 0;


  @media (min-width: $tablet-width) {
    padding: 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 80px;
    position: absolute;
    width: 565px;
    top: 87px;
    left: 110px;
    background-color: #ffffff;
  }
}

.invite__header--form {
  @media (min-width: $desktop-width) {
    top: 99px;
  }
}

.invite__title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.invite__address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-left: 45px;
  }
}

.invite__map-frame {
  display: block;
  border: 0;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.invite__map-frame--form {
  @media (min-width: $desktop-width) {
    height: 410px;
  }
}
