.main__hero {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: -58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.main__programms {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.main__explanation {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}
