.more-products {
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 24px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: 0;
    padding-top: 80px;
  }
}

.more-products-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 324px;
    border: 1px solid #f2f2f2;
    padding: 40px 37px 40px 37px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.more-products__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 8px;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 175px;
    padding-top: 0;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.more-products__title::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-bottom: 23px;
  background-image: url("../img/sprite.svg#more-products-icon");

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.more-products__description {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
    max-width: 180px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}
