.present {
  margin-bottom: 35px;
  padding: 0 20px;
  text-align: center;
}

.present__wrapper {
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/present-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.present__description {
  margin: 0;
  padding: 58px 61px 43px 58px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  &::before {
    display: block;
    margin-bottom: 48px;
    content: "";
    width: 78px;
    height: 81px;
    background-image: url("../img/present-icon.svg");
  }
}
