.products__list {
  display: grid;
  row-gap: 25px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 72px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 78px 80px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.products__item {
  border-top: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.products__item-wrapper {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image title" "image description" "button button";

  @media (min-width: $tablet-width) {
    max-width: 324px;
    position: relative;
    padding-top: 0;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 40px;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "title" "description" "button";
    background: linear-gradient(to bottom, #ffffff 14%, #f2f2f2 14%);
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.products__link-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  grid-area: image;


  @media (min-width: $tablet-width) {
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.products__item:nth-child(odd) .products__link-image-container {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.products__image {
  display: block;
  max-width: 84px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: 206px;
  }
}


.products__link-title-container {
  grid-area: title;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.products__link-image-container:hover,
.products__link-title-container:hover,
.products__link-image-container:focus,
.products__link-title-container:focus {
  outline: 0;
  opacity: 0.6;
}

.products__title {
  max-width: 80px;
  margin: 0;
  margin-bottom: 15px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 135px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.products__description-list {
  grid-area: description;
  margin: 0;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.products__desciption-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.products__description-term {
  font-size: 12px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.products__description-definition {
  font-size: 12px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.products__order-link {
  grid-area: button;
  padding: 10px;
}
