.programms__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.programms__item {
  position: relative;
  padding: 26px;
  padding-left: 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    padding: 81px 63px 60px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 61px 55px 52px;
  }
}

.programms__item-header {
  margin: 0;
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  font-family: $secondary-font;
  color: $secondary-color;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 340px;
    margin-bottom: 24px;
    justify-content: space-between;
    align-items: start;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    align-items: center;
    justify-content: start;
  }
}

.programms__item-header::before {
  content: "";
  display: block;
  margin-right: 20px;
  min-width: 50px;
  height: 50px;
  background-color: $bg-color;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    order: 2;
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0;
    top: 92px;
    margin-right: 63px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    position: relative;
    width: 100px;
    height: 106px;
    margin-right: 47px;
  }
}

.programms__item-header--slim::after {
  content: "";
  display: block;
  width: 36px;
  height: 50px;
  position: absolute;
  left: 28px;
  top: 22px;
  background-image: url("../img/progrpamms-slim.svg");

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    left: auto;
    top: 85px;
    right: 93px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    left: 72px;
    top: 41px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.programms__item-header--weight::after {
  content: "";
  display: block;
  width: 67px;
  height: 28px;
  position: absolute;
  left: 10px;
  background-image: url("../img/progrpamms-weight.svg");

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    left: auto;
    top: 135px;
    right: 27px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    left: 33px;
    top: 67px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.programms__item-description {
  margin: 0;
  margin-bottom: 17px;
  padding-bottom: 23px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: 340px;
    margin-bottom: 55px;
    padding: 0;
    color: $secondary-color;
    font-size: 16px;
    line-height: 24px;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
    margin-bottom: 23px;
  }
}

.programms__item-link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 15px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: $secondary-color;
  text-transform: uppercase;

  &::after {
    display: block;
    content: "";
    width: 24px;
    height: 12px;
    background: url("../img/programms-ico-arrow.svg") no-repeat center;
  }

  &:hover::after {
    width: 32px;
    right: 0;
    background: url("../img/programms-ico-arrow-hover.svg") no-repeat center;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    column-gap: 25px;
    font-size: 20px;
    line-height: 24px;
  }
}
