.slider {
  position: relative;
  margin: 0 auto;
}

.slider__images {
  width: 280px;
  position: relative;
  display: flex;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__slim-cat {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 256px;
  object-fit: cover;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.slider__weight-cat {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  height: 256px;
  object-fit: cover;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 512px;
  }
}

.slider__image {
  width: 280px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__button {
  width: 4px;
  height: 256px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  background-color: #666666;
  border-radius: 2px;

  &::before {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: url("../img/sprite.svg#slider-button-icon");
  }

  @media (min-width: $tablet-width) {
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    height: 512px;
    left: 54%;
    top: 48%;
  }
}

.slider__button:hover,
.slider__button:focus {
  outline: none;
  background-color: $bg-color;
}

.slider__button:hover::before,
.slider__button:focus::before {
  background: url("../img/sprite.svg#slider-button-icon-hover");
}

.slider__button:active {
  outline: none;
  background-color: #5eaa2f;
}

.slider__button:active::before {
  background: url("../img/sprite.svg#slider-button-icon-active");
}
